* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: pink;
}

#output {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

.clickable {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 232, 232);
    color: black;
    border-color: lightgray;
    border-radius: 12px;
}

.clickable:hover {
    color: rgb(241, 232, 232);
    background-color: black;
}

#inputNum {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
    border-color: white;
    text-align: center;
  }